.Dropdown {}
.Dropdown__popover {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: var(--trigger-width);
}
.Dropdown__item {
  cursor: default;
  white-space: nowrap;
}
.Dropdown__item--selected,
.Dropdown__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.Dropdown__item--active {
  background-color: rgba(#599eff, 0.25);
}
